*{
  scroll-behavior: smooth;
}

#loader {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loader img{
  width: 10%;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.logo-image {
    width: 14%;
}

.logo-image img{
    width: 100%;
    height: 100%;
}

.nav-links li a{
    color: black;
    font-weight: 600;
}

.search {
    right: 30px;
}

/* Hamburger */
#ham-burger{
  display: none;
}   

/* For smaller screens */
@media (min-width: 768px) and (max-width:1000px)  {

  #loader img{
    width: 10%;
  }

  .logo-image img{
    width: 118%;
  }

  .nav-toggle {
      display: block;
      cursor: pointer;
  }
}

.menu.active {
  display: flex;
}

@media (min-width: 320px) and (max-width: 426px){
  #ham-burger{
    display: block;
  }

  .logo-image {
    width: 25%;
  }

  ul li{
    margin-bottom: 7px;
    text-align: center;
  }

  .search-f{
    width: 220px;
    height: 30px;
    font-size: 12px;
  }

  .search{
    left: 75px;
  }
}
